---
import type { ProcessStepData } from "@/core/ProcessSteepData";

interface Props extends ProcessStepData {
    number: number;
}

const { icon, title, description, number } = Astro.props;
const formattedNumber = String(number).padStart(2, '0');
---

<div class="w-full border border-white/10 rounded-xl bg-white/5 p-5 space-y-5">

    <!-- Icon & Number -->
    <div class="flex items-center justify-between gap-x-3">

        <!-- Icon -->
        <div class="size-12 rounded-full bg-primary/10 flex items-center justify-center">
            <img src={icon} alt={title} class="size-7" />
        </div>
        
        <!-- Number -->
        <div class="text-white/20 font-bold text-4xl">{formattedNumber}</div>
    </div>

    <!-- Title & Description -->
    <div class="space-y-3 text-start">
        <h4 class="text-lg font-medium">{title}</h4>
        <p class="text-neutral-300 text-sm">{description}</p>
    </div>
</div>
